<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
   <bean id="taskExcutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name ="corePoolSize" value = "${threadPool.corePoolSize}" />
		<property name ="keepAliveSeconds" value ="${threadPool.keepAliveSeconds}" />  
		<property name ="maxPoolSize" value ="${threadPool.maxPoolSize}" />  
		<property name ="queueCapacity" value ="${threadPool.queueCapacity}" />  
	</bean>
	
	
	<bean id="policyDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.dingwang.dao.PolicyDTOMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="helloWorldService" class="com.dingwang.FactoryBean.Impl.HelloWorldServiceImpl"></bean>
	
	<bean id="capPlPolicyProcessor" class="com.dingwang.aop.Impl.GoodByeAopImpl"></bean>
	<bean id="jhsPolicyProcessor" class="com.dingwang.aop.Impl.HelloWorldAopImpl"></bean>
	
	
	
<!-- 	<bean id="testInit" class="com.dingwang.FactoryBean.Impl.TestInit" init-method="init"></bean> -->
	<bean id="proxyHW" class="com.dingwang.FactoryBean.HWFactoryBean">
		<property name="interfaceName" value="com.dingwang.FactoryBean.HelloWorldService"></property>
		<property name="target" ref="helloWorldService"></property>
		<property name="proxyMethodMap">
		<!-- key: -->
			<map>
				<entry key="sayGood">
					<ref bean="capPlPolicyProcessor"/>
				</entry>
				<entry key="sayHelloWorld">
					<ref bean="jhsPolicyProcessor"/>
				</entry>
			</map>
		</property>
	</bean>
</beans>